@import "tailwindcss";

/* ======================== 
  Root Styles
===========================*/
:root {
  /* theme colours */
  --primary: #fd740f;
  --theme-light: #f8f8f8;
  --theme-dark: #232321;
  --theme-teal: #239698;
  --persian-red: #d73421;
  --persian-blue: #002d58;
  --light-yellow: #ffb321;
  --leaf-green: #66bc03;
}

/* ======================== 
  Bind variables to Tailwind theme
===========================*/
@theme inline {
  --color-primary: var(--primary);
  --color-theme-light: var(--theme-light);
  --color-theme-dark: var(--theme-dark);
  --color-theme-teal: var(--theme-teal);
  --color-persian-red: var(--persian-red);
  --color-persian-blue: var(--persian-blue);
  --color-light-yellow: var(--light-yellow);
  --color-leaf-green: var(--leaf-green);
}

/* ======================== 
  Global styles
===========================*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-rubik);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ======================== 
  Custom utilities
===========================*/
@layer utilities {
  /* Custom Selection Colour */
  ::selection {
    background-color: var(--primary);
    color: var(--theme-light);
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 0.625rem;
  }

  #all-filters-drawer::-webkit-scrollbar {
    width: 0.425rem;
  }

  ::-webkit-scrollbar-track {
    background: whitesmoke;
  }

  ::-webkit-scrollbar-thumb {
    height: 10%;
    border-radius: 25px;
    background-color: rgba(253, 116, 15, 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(253, 116, 15, 0.8);
  }

  ::-webkit-scrollbar-corner {
    border-radius: 25px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* DEFAULT padding */
    padding-right: 1rem;
  }

  /* Common Styles */
  .section-padding {
    padding: 1.5rem 0;
  }

  header select:not([size])#country-select {
    background-image: none !important;
  }

  /* Merlin inject some code autimaticaly if user using merlin AI extention */
  #merlin-chat {
    display: none !important;
  }

  /* Hide the clear icon for the search input */
  input[type="search"]::-webkit-search-clear-button,
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
  }

  input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* Hide number input arrows */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  /* nav active page */
  .nav-links a[aria-current="page"] {
    background-color: var(--primary);
  }

  /* product thumbnail active */
  .swiper-slide-thumb-active .slide-thumb {
    border: 2px solid var(--primary) !important;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Global Transition */
  .eq {
    transition: 300ms cubic-bezier(0.25, 1, 0.5, 1);
  }

  /* Theme Buttons */
  .theme-btn {
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    transition: 300ms cubic-bezier(0.25, 1, 0.5, 1);
    font-weight: 500;
  }

  .theme-primary-btn {
    background-color: var(--primary) !important;
    color: var(--theme-light) !important;
    border: 1px solid rgba(255, 179, 33, 0.1);
  }

  .theme-outline-btn {
    background-color: transparent;
    color: var(--theme-dark) !important;
    border: 1px solid rgba(35, 35, 33, 0.1) !important;
  }

  .theme-outline-btn:hover {
    background: var(--primary);
    color: var(--theme-light) !important;
    border-color: var(--light-yellow) !important;
  }

  /* order steps system */
  .step-dot {
    background: var(--theme-light);
    border: 2px solid var(--primary) !important;
    margin: -5px auto 15px;
  }

  .step.completed .step-dot {
    background: var(--primary);
    border-color: var(--primary);
  }

  .step .step-dot span {
    display: none;
  }

  .step.completed .step-dot span {
    display: block;
  }

  .step.active .step-dot {
    background: var(--primary);
    border-color: var(--theme-light) !important;
  }

  .progress-line {
    height: 0.3rem;
    background: #ffe7d6;
    flex: 1;
    position: relative;
  }

  .progress-line.active {
    background: var(--primary);
  }

  .step .step-content {
    opacity: 0.5;
  }

  .step.active .step-content {
    opacity: 1;
  }

  .step.completed .step-content {
    opacity: 1;
  }

  /* order details page */
  .order-details-menus li[aria-current="page"] a,
  .coupon-discount-menus li[aria-current="page"] a {
    background: var(--leaf-green) !important;
    color: var(--theme-light) !important;
  }

  /* review star  */
  .review-star {
    color: #d8dbdf;
    transition: 300ms cubic-bezier(0.25, 1, 0.5, 1);
  }

  .review-star.active {
    color: var(--light-yellow);
  }

  .review-star.hover {
    color: var(--light-yellow);
  }

  /* feature shop */
  .round-shape::after {
    content: "";
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(95, 108, 114, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  .feature-shops-section .category-item:hover img {
    scale: 1.15;
    transform: rotate(2deg);
  }

  /* big saving page */
  .promo-categories-menus li[aria-current="page"] a {
    border-color: var(--light-yellow) !important;
    color: var(--light-yellow) !important;
  }

  /* coupon & discount */
  .cashback-card::after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background: white;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(50%, -50%);
    border-radius: 50%;
  }

  .cashback-card::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background: white;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  /* help page */
  .help-page .page-banner {
    background:
      url("/assets/images/help-page-banner.png") no-repeat right bottom /
        contain,
      #ff5000;
  }

  .help-page .accordion-content {
    max-height: 0 !important;
  }

  .help-page .accordion-content.active {
    max-height: 1000px !important;
  }

  .rotate-chevron {
    transform: rotate(90deg) !important;
    color: var(--primary);
  }

  /* contact us */
  .outline-text {
    -webkit-text-stroke: 0.5px #e0e0e0;
    -webkit-text-fill-color: transparent;
  }
}
